* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 1.75rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.0625rem solid;
  border-radius: 0.1rem;
}
