:root {
  --w: hsl(0, 0%, 100%);

  --s1: hsl(30, 54%, 90%);
  --s2: hsl(30, 18%, 87%);
  --s3: hsl(30, 10%, 34%);
  --s4: hsl(24, 5%, 18%);

  --b: hsl(14, 45%, 36%);

  --r1: hsl(330, 100%, 98%);
  --r2: hsl(332, 51%, 32%);
}

.w {
  color: var(--w);
}

.s1 {
  color: var(--s1);
}

.s2 {
  color: var(--s2);
}

.s3 {
  color: var(--s3);
}

.s4 {
  color: var(--s4);
}

.b {
  color: var(--b);
}

.r1 {
  color: var(--r1);
}

.r2 {
  color: var(--r2);
}
