.banner {
  padding: 3rem 3rem 1.5rem 3rem;
}

.banner img {
  border-radius: 1rem;
}

@media (max-width: 1000px) {
  .banner {
    padding: 2.5rem 2.5rem 1.25rem 2.5rem;
  }
}

@media (max-width: 500px) {
  .banner {
    padding: 1.75rem 1.75rem 0.875rem 1.75rem;
  }
}

@media (max-width: 375px) {
  .banner {
    padding: 0 0 0.875rem 0;
  }

  .banner img {
    border-radius: 0;
  }
}
